<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
   mapper标签:配置各类声明
   namespace：名称空间，由于映射文件可能有多个，为了防止crud语句的唯一标识被重复，需要设置空间名称。
 -->

<mapper namespace="com.pyg.mapper.TbBrandMapper">
    <!--
        select:查询的statement（声明），用来编写查询语句
        id:语句的唯一标识
        resultType：配置返回的结果集类型
        parameterType：传递的参数类型，可以省略
    -->
    <!--注意此处没有进行配置驼峰匹配，所以需要自己进行映射-->
<select id="findAll" resultType="com.pyg.pojo.TbBrand">
   select id, name, first_char firstChar from tb_brand
</select>

    <insert id="addBrand" parameterType="TbBrand">
        insert INTO tb_brand values(#{id},#{name},#{firstChar})
    </insert>
   <!--注意此处没有进行配置驼峰匹配，所以需要自己进行映射-->
    <select id="findBrandById" resultType="TbBrand" parameterType="java.lang.Integer">

        SELECT id,name,first_char as firstChar FROM tb_brand WHERE ID=#{id}
    </select>

    <update id="updateBrandById" parameterType="TbBrand">
        update tb_brand set name=#{name},first_char=#{firstChar} where id=#{id}
    </update>

    <delete id="deleteBrandByByIds" >
        delete  from tb_brand where id in
        <foreach collection="ids" open="(" item="id" close=")" separator="," >
      #{id}
    </foreach>
    </delete>
</mapper>