<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模块化设计</title>
    <script src="../plugins/angularjs/angular.min.js"></script>

    <script>
     //模块化设计可以更好的管理js对象和函数
        var app=angular.module("myApp",[])//模块化的语法，myApp---模块名称。
        app.controller("myController",function ($scope) {
            $scope.show=function () {
                $scope.c=parseInt($scope.a)+parseInt($scope.b);
            }

        })
    </script>
</head>
<body ng-app="myApp" ng-controller="myController" >
<input ng-model="a">+<input ng-model="b"><span ng-click="show()">等于</span><input ng-model="c">
</body>
</html>